body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 0 15em;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

p {
    width: 4em;
    padding: 1.5em 2em;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 1em;
}
