div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: center; 
}

form input {
    margin: 0 .5em;
}

a {
    background-color: wheat;
    margin: 1em 1em;
    padding: 1em;
    display: block;
    color: black;
    text-decoration: none;
    width: 50%;
}

img {
    width: 100%;
}

